<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" href="./settings.css" />
    <link rel="stylesheet" href="./search.css" />

  </head>
  <body class="main-page">
    <%- include('partials/header') %>
    
    <main>
      <h1>Hello, <%= user.username %></h1>

      <% for (let genre in moviesByGenre) { %>
        <% if (moviesByGenre[genre].length > 0) { %>
          <section class="genre-section">
            <h2><%= genre %></h2>

            <div class="genre-row">
              <% moviesByGenre[genre].forEach(movie => { %>
                <div class="cover" id="<%= movie._id %>">
                  <img
                    src="<%= movie.coverImagePath %>"
                    alt="<%= movie.title %>"
                    class="cover-image"
                  />
                </div>
              <% }) %>
            </div>
          </section>
        <% } %>
      <% } %>
    </main>

    <script src="/js/search.js"></script>
  </body>
</html>
