<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" href="./settings.css" />
    <link rel="stylesheet" href="./search.css" />
   </head>
  <body class="main-page">
    <%- include('partials/header') %>
    <div id="google_translate_element"> </div>
    <main>
      <h1>Hello, <%= user.username %></h1>

      <% for (let genre in moviesByGenre) { %>
        <% if (moviesByGenre[genre].length > 0) { %>
          <section class="genre-section">
            <h2><%= genre %></h2>

            <div class="genre-row">
              <% moviesByGenre[genre].forEach(movie => { %>
                <div class="cover" id="<%= movie._id %>">
                  <img
                    src="<%= movie.coverImagePath %>"
                    alt="<%= movie.title %>"
                    class="cover-image"
                  />
                </div>
              <% }) %>
            </div>
          </section>
        <% } %>
      <% } %>

   <!-- content details modal -->
<div id="contentModal" class="modal">
  <div class="modal-content">
    <span id="modalClose" class="close">&times;</span>

    <div class="modal-image-container">
      <img id="modalCover" src="" alt="">
      <button id="modalPlayBtn" class="play-btn">
        ▶
      </button>
    </div>

    <h2 id="modalTitle"></h2>
    <p id="modalDescription"></p>
    <div id="modalExtra"></div>
  </div>
</div>

    </main>

    <script src="/js/search.js"></script>
    <script src="/js/translate.js"> </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="/js/content-details.js"> </script>
  </body>
</html>
