<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./cover.css" />
  </head>
  <body class="main-page">
    <%- include('partials/header') %>

    <main>
      <h1>To be continued...</h1>

      <% movies.forEach(movie => { %>
      <div class="cover" id="<%= movie._id %>">
        <img
          src="<%= movie.coverImage %>"
          alt="<%= movie.title %>"
          class="cover-image"
        />
        <button class="play-overlay">▶</button>
        <video
          class="cover-video"
          src="<%= movie.trailerUrl %>"
          preload="metadata"
          controls
          playsinline
        ></video>
      </div>
      <% }) %>
    </main>

    <script src="/js/cover.js"></script>
  </body>
</html>
