<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="settings-page">
     <!-- Sidebar -->
  <div class="sidebar">
    <a href="/main" class="back-link">
        ← Back to main page
    </a> 
    <a href="/settings"  class="active">Manage Profiles</a>
    <a href="/statistics">Statistics</a>
  </div>
  <!-- Manage Profiles Page -->
 <div class="manage-profiles">
    <h2 style="text-align: left;">Welcome, <%= username %>!</h2>
    <ul class="profile-list">
      <% profiles.forEach(function(profile) { %>
        <li class="profile-item">
          <div class="profile-left">
            <img src="<%= profile.picture %>" alt="<%= profile.name %>">
            <span class="name"><a class="profile-link" href="/settings/edit/<%= profile.id %>"><%= profile.name %></a></span>
          </div>
          <div class="profile-right">
            <span class="arrow">&gt;</span>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>  
</body>
</html>
